<div id="ad">
  <!-- <span>Sponsored By</span><br>
  <a href="http://www.thedifferenceengine.io/" target="_blank"
    style="background-color: rgba(0,0,0,.85); padding: 10px 0">
    <img src="/images/tde.png">
  </a> -->
  <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=vuejs" id="_carbonads_js"></script>
  <a class="github-button" href="https://github.com/hayeah/vuejs.org/issues" data-count-api="/repos/hayeah/vuejs.org#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue hayeah/vuejs.org on GitHub">给翻译组提意见</a>
  <img src="/images/qrcode.jpeg" alt="">
</div>
